/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #eee;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.jumbotron p {
  font-weight: normal;
}

/* Custom page footer */
.footer {
  padding-top: 20px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.marketing h3 {
  margin-bottom: 20px;
}

.cover-images img {
    padding-bottom: 20px;
}

@media screen and (max-width: 767px) {
    .center-mobile {
        left: 25%;
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .center-desktop {
        left: 33.333%;
        top: 20px;
        padding-bottom: 20px;
    }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .center-mobile {
      left: 0%;
  }
}

h3>small {
  padding-left: 10px;
}

.csvExampleTable {
  width: 100%;
}

.csvExampleTable td {
  border: solid black 1px;
  padding: 3px;
}


.light {
  display: block;
}

.dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .dark   { display: block; }
  .light { display: none; }

  body {
    background-color: #333;
    color: #999;
  }

  .jumbotron {
    background-color: unset;
  }

  hr {
    color: #999;
    border-top: 1px solid #aaa;
  }
}